<div class="p-card py-4 px-3 mb-2">
  <p-inplace [preventClick]="true" #inPlaceContainer>
    <ng-template pTemplate="display">
      <checklist-item-view [model]="model"></checklist-item-view>
      <!-- <p-checkbox
        name="model.group"
        value="model.value"
        [value]="model.value"
        [inputId]="model.id"
        [(ngModel)]="selected"
        (ngModelChange)="valueChanged($event)"
        (onChange)="onChange($event)"
        [disabled]="model.disabled"
      ></p-checkbox>
      <label
        class="p-checkbox-label"
        (click)="inPlaceContainer.activate()"
        *ngIf="!checked"
        >{{ model.value }}</label
      >
      <label
        class="p-checkbox-label"
        [ngClass]="{ 'p-checkbox-label-active': checked }"
        *ngIf="checked"
        >{{ model.value }}</label
      > -->
    </ng-template>
    <ng-template pTemplate="content"
      ><checklist-item-edit
        [task]="model.value"
        (onSave)="saveTask($event); inPlaceContainer.deactivate()"
        (onCancel)="inPlaceContainer.deactivate()"
      ></checklist-item-edit
    ></ng-template>
  </p-inplace>
</div>
