:host ::ng-deep .p-inplace-display {
  padding: 0%;
  border-radius: 0%;
  transition: none;
}

:host ::ng-deep .p-progressbar-determinate .p-progressbar-value-animate {
  transition: width 0.35s ease-in-out;
}
