:host ::ng-deep .p-checkbox-label-active {
  /* text-decoration: line-through; */
  opacity: 0.6;
}

:host ::ng-deep .p-checkbox-checked {
  opacity: 0.6;
}

.drag-handle {
  cursor: move;
  position: absolute;
  /* top: 24px; */
  left: -15px;
  width: 27px;
  padding-right: 3px;
  display: none;
  flex-wrap: nowrap;
}

.draggable-item:hover > .drag-handle {
  display: flex;
}
