<div
  class="p-card py-3 px-2 mb-2 draggable-item"
  cdkDrag
  [cdkDragDisabled]="model.checkedOff"
>
  <p-inplace [preventClick]="true" #inplace>
    <ng-template pTemplate="display">
      <checklist-item-view
        [model]="model"
        (onEdit)="inplace.activate()"
      ></checklist-item-view>
    </ng-template>
    <ng-template pTemplate="content"
      ><item-edit
        [allowSaveOnEmptyValue]="true"
        [placeholderText]="'Task name'"
        [value]="model.value"
        (onSave)="save($event); inplace.deactivate()"
        (onCancel)="inplace.deactivate()"
      ></item-edit
    ></ng-template>
  </p-inplace>
</div>
