<p-card
  header="Подготовка за началото на стаж"
  [style]="{ width: '30rem', 'margin-bottom': '2em' }"
>
  <div class="mb-3">
    <p-progressBar [value]="progressBarValue"></p-progressBar>
  </div>

  <div *ngFor="let category of categories">
    <checklist-item
      [model]="category"
      [(selected)]="selectedCategories"
    ></checklist-item>
  </div>

  <div class="mt-4">
    <p-inplace [style]="{ 'min-height': '33px' }" #temp>
      <ng-template pTemplate="display"> Add task </ng-template>
      <ng-template pTemplate="content">
        <checklist-item-edit
          (onAddNewTask)="addTask($event); temp.deactivate()"
          (onCancel)="temp.deactivate()"
        ></checklist-item-edit>
      </ng-template>
    </p-inplace>
  </div>

  <!-- <ng-template pTemplate="footer">
    <p-button label="Add item" icon="pi pi-plus"></p-button>
  </ng-template> -->
</p-card>
